<nav class="navbar navbar-expand-lg">
  <div class="d-flex align-items-center">
    <div class="flex-shrink-0">
      <a class="navbar-brand" href="/"><img src="../images/logo.jpg" alt="LaChinita" width="100px"></a>
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {{!-- <div class="container-fluid"> --}}

    <div class="collapse navbar-collapse " id="navbarNav">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item me-4">
          <a class="nav-link active" aria-current="page" href="/"><button class="btn btn-outline-secondary btn-lg"
              type="button">Home</button></a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="/rentals"><button class="btn btn-outline-danger btn-lg"
              type="button">Rentals</button></a>
        </li>
        {{#if user}}

        {{#if isClerk}}

        <li class="nav-item me-4">
          <a class="nav-link" href="/load-data/rentals"><button class="btn btn-outline-primary btn-lg"
              type="button">Load-data</button></a>
        </li>
                <li class="nav-item me-4">
          <a class="nav-link" href="/logout"><button class="btn btn-outline-warning btn-lg"
              type="button">Logout</button></a>
        </li>
        {{else}} 
               <li class="nav-item me-4">
          <a class="nav-link" href="/logout"><button class="btn btn-outline-warning btn-lg"
              type="button">Logout</button></a>
        </li>
                <li class="nav-item me-4">
          <a class="nav-link" href="/cart"><button class="btn btn-outline-primary btn-lg"
              type="button">Shopping Cart</button></a>
        </li>


        {{/if}}


        <li>Welcome <a href="/rentals/list"> {{user.firstName}} {{user.lastName}}</a> </li>

        {{else}}

        <li class="nav-item me-4">
          <a class="nav-link" href="/log-in"><button class="btn btn-outline-warning btn-lg"
              type="button">Log-in</button></a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="/sign-up"><button class="btn btn-outline-primary btn-lg"
              type="button">Sign-up</button></a>
        </li>
        {{/if}}
      </div>
         <div class="cartIcon"><i><span class="material-symbols-outlined  non-empty"
                     id="shopping-cart">shopping_cart_checkout</span></i></div>
      {{!-- </form> --}}
    </div>
  </div>
</nav>