

<div class="container-signup">
  <div class="border border-dark p-4 border-opacity-75">
  <div class="row">
    <div class="sign-up-title">
      <h1>Sign up</h1>
      <p>Create your account by entering your email address and choosing a password</p>
    </div>
    <form class="signup">
      <div class="col-md-12">
        <label for="inputFirstName" class="form-label"></label>
        <input type="FirstName" class="form-control" id="inputFirstName" placeholder="First Name">
      </div>
      <div class="col-md-12">
        <label for="inputLastName" class="form-label"></label>
        <input type="LastName" class="form-control" id="inputLasttName" placeholder="Last Name">
      </div>
      <div class="col-md-12">
        <label for="inputEmailAddress" class="form-label"></label>
        <input type="text" class="form-control" id="inputEmailAddress" placeholder="Email Address">
      </div>
      <div class="col-md-12">
        <label for="inputPassword" class="form-label"></label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>


      <div class="d-grid" id="sign-up-btn">
  <button class="btn btn-outline-secondary" type="submit">Sign up today</button>
</div>
    </form>
  </div>
  </div>
</div>
