{{!-- 
<div class="cart-navbar">
   <h2>Shopping Cart</h2>
   <div class="cart-s">
      <i class="bi bi-bag-heart"></i>
      <div class="cartAmount">0</div>   
   </div>
</div> --}}
<div class="cart-nav">
   <a href="#" class="brand"> shopping cart</a>
   <a href="#" class="cartCount" onclick="$('main .callout').toggleClass('open');"><i class="bi bi-bag-heart"></i> <sup>0</sup></a>
</div>
<main>
<div class="container-cart">

</div>

<div class="callout">
        <table border="1" cellspacing="2" cellpadding="2">
            <tr>
                <th>Name</th>
                <th>Artist</th>
                <th>Quantity</th>
                  <th>Price</th>
                  <th>Remove</th>
            </tr>
        </table>
</div>
</main>
{{#if rentals}}
<h2>your shopping cart</h2>
{{#each rentals}}
{{>rental}}
{{/each}}
{{else}}
<h2>your shopping cart is empty</h2>
{{/if}}
