<div class="rental-title">

  <h1> Welcome to La Chinita</h1>
  <p>The premier rental site for all your lodging needs.
  <div> Whether you're looking for short-term accommodation or long-term rental, we've got you covered.</div>
  <div>Our team is dedicated to providing excellent customer service and ensuring a seamless rental experience for all
    users.</div>
  Trust LaChinita to help you find your next home away from home.
  </p>
</div>



{{!-- /*==================================== Rentals Feature ========================================== */ --}}
<div class="container-rentals" id="rentals-rentals">
  {{!-- {{#each rentalsData}}
  <h1>{{cityProvince}}</h1> --}}
  
  {{!-- <br> --}}
  {{#each rentals}}
  <div>{{> rental this}}</div>
  {{!-- {{/each}} --}}
   {{/each}}

</div>