<div class="welcome-title">
  <h1> Welcome to La Chinita</h1>
  <p>The premier rental site for all your lodging needs.
    <br> Whether you're looking for short-term accommodation or long-term rental, we've got you covered.
    <br> Our team is dedicated to providing excellent customer service and ensuring a seamless rental experience for all
    users.
    <br>
    Trust LaChinita to help you find your next home away from home.
  </p>
</div>