<footer>
    <div class="footer-container">
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="footer-heading col-md mt-2 ">
                        <img src="/images/logo.jpg" alt="LaChinita" width="20%">
                        <br>
                        <a href="/">Home</a>
                        <br>
                        <a href="/log-in">Log-in</a>
                        <br>
                        <a href="/sign-up">Sign-up</a>
                        <br>
                        <a href="/rentals">Rentals</a>
                    </div>
                    <div class="footer-heading col-md mt-2">
         <dl>
            <dt>
                <h2>Contact Us</h2>
            </dt>
            <dd>
                <a href="#">Careers</a>
            </dd>
            <dd>
                <a href="#">Support</a>
            </dd>
            <dd>
                <a href="#">Contact</a>
            </dd>
            <dd>
                <a href="#">Sponsorship</a>
            </dd>
         </dl>
                        {{!-- <h2>Contact Us</h2>
                        <a href="#">Careers</a>
                        <br>
                        <a href="#">Support</a>
                        <br>
                        <a href="#">Contact</a>
                        <br>
                        <a href="#">Sponsorship</a> --}}
                    </div>
                    <div class="fotter-emial-form col-md mt-2">
                        <div class="footer-email">
                            <h4><span>Subscribe us</span></h3>
                                <form>
                                    <input type="email" placeholder="Enter your email" id="inputEmail">
                                    <button type="submit" class="btn btn-outline-danger">Subscribe</button>
                                </form>
                        </div>
                    </div>
                    <div class="academic mt-2">
                        <div class="p-title">
                            <br>
                            <h6>By submitting this assignment I declare that this assignment is my own work in
                                accordance with the
                                Seneca
                                Academic.<br>
                                No part of this assignment has been copied manually or electronically from any other
                                source
                                (including web
                                sites) or distributed to other students.</h4>
                                <p><span>Copyright&copy; Wing Lo, cluo21@myseneca.ca, WEB322 Winter 2023</span></p>
                        </div>
                    </div>
                    <div class="social-media-icons">
                        <div class="icons">
                            <a href="https://www.linkedin.com/in/wing-law-aa8488210/" target="_blank"><i
                                    class="uil uil-linkedin"></i></a>
                            <a href="https://github.com/cy9096" target="_blank"><i class="uil uil-github"></i></a>
                            <a href="https://www.facebook.com/taice.low?mibextid=LQQJ4d" target="_blank"><i
                                    class="uil uil-facebook-f"></i></a>
                            <a href="https://www.instagram.com/"><i class="uil uil-instagram" target="blank"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>